*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: black;
    font-family: sans-serif;
}
.container{
    background-image: url(background1.png);
    height: 37rem;
    background-size: cover;

}
.container2{
    display: flex;
    justify-content: space-around;
    
}
.enjoy{
    padding: bold;
    font-size: 3rem;
}
.img{
    height: 4rem;
    width: 7rem;
    margin-top: 17px;
}
.btn1{
    padding: 7px 10px;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    color: gainsboro;
    border: 1px solid grey;
    border-radius: 7px;
    cursor: pointer;
}
.btn2{
    padding: 7px 10px;
    margin-top: 29px;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.container3{
    color: white;
    display: flex;
   align-items: center;
    flex-direction: column;
   margin-top: 10rem;
   line-height: 37px;
   
}
.join{
    font-size: 21px;
    margin-top: 9px;
}
.read{
    font-size: 21px;
}
.container5{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 18px;
}
.input1{
    padding: 8px 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    color: white;
   
}
input::placeholder{
    color: white;
   

   
   
}
.btn5{
    padding: 3px 17px;
    background-color:orangered;
    border: 1px solid white;
    color: white;
    font-size: 26px;
    cursor: pointer;
    border-radius: 5px;
}

.img45{
position: absolute;
height: 22.9rem;

}

.container6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
    border-bottom: 7px solid grey;
    padding-bottom: 10rem;
   
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-top: 70px;
}
.paragraph{
    font-size: 1.3rem;
    margin-left: 12px;
    font-weight: bold;
    color: white;
}
.heading1{
    font-size: 2.5rem;
    margin-left: 12px;
    font-weight: bold;
    color: white;
}
.paragraph1{
    font-size: 1rem;
    margin-left: 12px;
    font-weight: bold;
    color: white;
}
.img46{
 height: 24rem;
}
.offline{
    margin-left: 5rem;
}
.something{
    margin-left: 3rem;
}
.container7{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-bottom: 7px solid grey;
    padding-bottom: 6rem; 
}
.offline1{
    margin-left: 7.7rem;
}
.paragraph2{
    font-size: 1.3rem;
    margin-left: 12px;
    font-weight: bold;
    color: white;
}
.membership{
    margin-left: 7rem;
}
.box77{
    height: 47px;
    width: 600px;
    background-color: rgba(128, 128, 128, 0.582);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 29px;
}

.box77:hover{
    cursor: pointer;
    background-color: gray;
    color: black;
}
.container8{
    display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 3rem;
    gap: 40px;
    border-bottom: 7px solid grey;
    padding-bottom: 6rem; 
}
.heading7{
    color: white;
}
.box343{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 40px;
    font-weight: bold;
}
.container87{
    display: flex;
    justify-content: center;
   padding: 40px;
   line-height: 30px;
   gap: 40px;
  
}
.box87 a{
    color: white;
}
.heading98{
 margin-left: 40px;
 font-weight: bold;
}
